*.js
*.css
*.json

*css
*dist
*plugin
*template
*icons

# Don't ignore
!obsidian-bibtex-adder
!obsidian-bibtex-adder/main.js
!obsidian-bibtex-adder/manifest.json
!obsidian-bibtex-adder/data.json

!obsidian-citation-plugin
!obsidian-citation-plugin/main.js
!obsidian-citation-plugin/manifest.json
!obsidian-citation-plugin/data.json
!obsidian-citation-plugin/styles.css
